body{
    background-image: linear-gradient(to bottom, #FF7070, #FF3333, #690000);
    background-attachment: fixed;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
main{
    background-color: white;
    padding: 7px;
    box-shadow: 5px 5px 20px black;
    height: 490px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #690000;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 3px #180000;
}
p.banner{
    text-align: center;
}
div.links{
    text-align: center;
    background-color: #690000;
    box-shadow: 5px 5px 10px;
    padding: 10px;
}
div.in{
    background-color: rgb(208, 208, 208);
    box-shadow: 1px 1px 3px black;
}