.institucional {
    background-color: var(--cinza-claro);
    line-height: normal;
    padding-bottom: 30px;
    text-align: left;
}

.institucional .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.institucional__titulo {
    color: var(--cinza-dark);
    font-family: var(--titulo);
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.institucional__texto {
    color: var(--cinza-escuro);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.institucional__endereco {
    font-size: 1.5rem;
}

.institucional__contato {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.institucional__contato__tel {
    color: var(--cinza-dark);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.institucional__contato__tel:hover {
    color: var(--cinza-link);
    text-decoration: underline;
}

.institucional__contato__email {
    color: var(--azul-claro);
}


/* Parte Mobile */

@media screen and (max-width: 768px) {
    .institucional .container {
        flex-direction: column;
    }
    .institucional__sobre {
        margin-bottom: 10px;
    }
    .institucional__imagem {
        margin-top: 10px;
    }
}